.footer {
    background-color: #0a0a0a;
    color: #bbb;
    padding: 60px 0;
    text-align: left;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}

.footer-contact {
    max-width: 50%;
}

.footer-contact h2 {
    font-size: 36px;
    color: #fff;
}

.footer-contact .highlight {
    color: rgba(109, 149, 252, 1);
}

.contact-info {
    list-style: none;
    padding: 0;
}

.contact-info li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.contact-info i {
    font-size: 20px;
    margin-right: 15px;
    color: rgba(109, 149, 252, 1);
}

.footer-form {
    flex: 1;
    background-color: #131313;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 40%;
}

.footer-form form {
    display: flex;
    flex-direction: column;
}

.footer-form input,
.footer-form textarea {
    background-color: #0f0f0f;
    border: 1px solid #333;
    color: #bbb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.footer-form textarea {
    height: 150px; 
    resize: none; 
}

.footer-form button {
    background-color: rgba(109, 149, 252, 1);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.footer-form button:hover {
    background-color: rgba(109, 149, 252, 1);
}
